PORT=3001
NODE_ENV=development
DATABASE_URL="file:./dev.db"
CORS_ORIGIN="http://localhost:3000,http://127.0.0.1:3000"

# Fuentes oficiales de datos
GOV_DATASET_CSV_URL="http://datos.energia.gob.ar/dataset/1c181390-5045-475e-94dc-410429be4b17/resource/80ac25de-a44a-4445-9215-090cf55cfda5/download/precios-en-surtidor-resolucin-3142016.csv"
GOV_CKAN_API_URL="https://datos.energia.gob.ar/api/3/action/datastore_search?resource_id=80ac25de-a44a-4445-9215-090cf55cfda5"

# Cron: cada 2 horas
CRON_SYNC_SCHEDULE="0 */2 * * *"
